---

# Generic
generic:
  role: {{ Name }}
  role_short: {{ Name_short }}
  role_description: |
    <basic role description>
  collections: []

# Supported platforms
{% if Name | regex_search('_docker') %}
{% include 'platforms-overwrite-docker.yml.j2' %}
{% else %}
{% include 'platforms-overwrite-no-ci.yml.j2' | regex_replace('^', '#') %}
{% endif %}

# Molecule
molecule:
  requirements:
    roles_extra: []
